DATABASE_URL=xxx

BETTER_AUTH_SECRET=xxx
BETTER_AUTH_URL=xxx
PUBLIC_BETTER_AUTH_URL=
VOE_CLI_RELEASE_URL=https://github.com/victorDigital/voe-env/releases/latest/download

EMAIL_API_KEY=
EMAIL_FROM=
BODY_SIZE_LIMIT=16M
